.container-fluid {
    background-color: darksalmon;
    border: 1px solid lightcoral;
    margin: 2px;
    a {
        color: white;
        margin: 5px 10px;
    }
    .dropdown {
        a {
            color: black;
        }
    }
}